
@keyframes preload {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.preload {
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    background-image: url(../img/pattern.png);
    display: flex;
    justify-content: center;
    align-items: center;
    animation: preload 1s 2s forwards;
}

.preload__progress {
    height: 20px;
    background-color: hsl(0, 0%, 94%);
    border-radius: 20px;
    width: 86%;
    margin: 0 auto;
    padding: 4px;
}

.preload__logo {
    width: 400px;
    max-width: 100%;
    margin-bottom: 30px;
}

.preload__content {
    width: 450px;
    max-width: 100%;
    padding: 30px;
}

@keyframes progressBar {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}

.preload__progressBar {
    background-color: hsl(172, 93%, 45%);
    box-shadow: 0 0 20px hsl(172, 93%, 65%), 0 0 5px hsl(172, 93%, 65%);
    width: 0;
    height: 100%;
    border-radius: 20px;
    transition: width .3s;
    animation: progressBar 2.5s forwards;
}